.cartWrapper {
  max-width: 550px;
  width: calc(100% - 40px);
  margin: 0 auto;
}

.headTitle {
  text-align: center;
  margin-bottom: 40px;
}

.headTitle svg {
  display: inline-block;
}

.title {
  font-family: var(--secondfont);
  font-weight: 500;
  font-size: 14px;
}

.cartItems {
  border-top: 1px solid var(--greyn20);
  padding: 20px 0;
  display: flex;
  gap: 10px;
}

.cartItems:last-child {
  border-bottom: 1px solid var(--greyn20);
}

.cartItems img {
  height: 74px;
  width: 74px;
  object-fit: cover;
}

h2 {
  font-size: 14px;
}

.details {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}

.priceDelete {
  display: flex;
  gap: 10px;
  align-items: center;
}

.priceDelete span:first-child {
  font-weight: 600;
}

.priceDelete span:second-child {
  color: var(--greyn50);
  font-weight: 400;
}

.total {
  display: flex;
  justify-content: space-between;
}

.totalDetails {
  margin-top: 20px;
}

.totalDetails div {
  margin-top: 10px;
  font-weight: 500;
  color: var(--greyn70);
}

.totalValues {
  margin-top: 20px;
}

.totalValues div {
  margin-top: 10px;
}

.shipping {
  font-size: 14px;
  font-family: var(--mainfont);
  color: var(--greyn70);
}

.discount {
  font-size: 14px;
  font-family: var(--mainfont);
  color: var(--discount);
}

.grandTotal {
  font-size: 14px;
  font-weight: 700 !important;
  font-family: var(--mainfont);
  color: var(--greyn70) !important;
}

.firstButton {
  margin-top: 20px;
  background-color: var(--greyn60);
  border: none;
  border-radius: 5px;
  color: white;
  padding: 15px;
  cursor: pointer;
  width: 100%;
  transition: background-color 200ms linear;
  display: block;
  text-align: center;
  text-decoration: none;
  box-sizing: border-box;
}

.firstButton:hover {
  background-color: var(--greyn50);
}

.secondButton {
  margin-top: 10px;
  background-color: white;
  border: 2px solid var(--greyn60);
  border-radius: 5px;
  color: var(--greyn70);
  padding: 13px;
  cursor: pointer;
  width: 100%;
  transition: background-color 200ms linear;
  display: block;
  text-align: center;
  text-decoration: none;
  box-sizing: border-box;
}

.secondButton:hover {
  background-color: var(--greyn50);
  border-color: var(--greyn50);
  color: white;
}

.buttons {
  margin-top: 50px;
}

@media (max-width: 450px) {
  .cartItems img {
    width: 50px;
    height: 50px;
  }
}
