.buttonContainer {
  display: flex;
  align-items: center;
  gap: 2px;
}

.buttonContainer span {
  text-align: center;
}

.contactButton {
  display: flex;
  position: fixed;
  bottom: 30px;
  right: 0;
  background-color: var(--greyn70);
  color: white;
  padding: 10px 20px;
  font-family: var(--mainfont);
  font-size: 14px;
  font-weight: 500;
  border-radius: 10px;
  cursor: pointer;
  align-items: center;
  margin: 20px 50px;
  z-index: 999;
  text-transform: uppercase;
}

.contactButton svg {
  display: inline-block;
  max-width: 100%;
  padding-right: 5px;
}
