.buttonContainer {
  display: flex;
  align-items: center;
  gap: 2px;
}

.buttonContainer span {
  text-align: center;
}

.contactButton {
  display: flex;
  position: fixed;
  bottom: 50px;
  right: 40px;
  background-color: var(--greyn70);
  color: white;
  padding: 5px 10px;
  font-family: var(--mainfont);
  font-size: 12px;
  font-weight: 400;
  border-radius: 10px;
  cursor: pointer;
  align-items: center;
  z-index: 999;
  text-transform: uppercase;
}

.contactButton svg {
  display: inline-block;
  max-width: 100%;
  padding-right: 5px;
}

@media (max-width: 350px) {
  .contactButton {
    right: 20px;
  }
}
