.footer {
  display: flex;
  height: 30px;
  border-top: solid var(--greyn20) 1px;
  padding-bottom: 10px;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: white;
}

.footer svg {
  height: 20px;
}
.footer svg path {
  fill: var(--greyn50);
}

.footer span {
  font-family: var(--mainfont);
  font-weight: 400;
  font-size: 12px;
  color: var(--greyn50);
}
