.footer {
  border-top: 1px solid var(--greyn20);
  background-color: white;
}

.footerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1045px;
  width: calc(100% - 40px);
  margin: 0 auto;
  padding-bottom: 10px;
  height: 30px;
  padding: 0 20px;
}

.footer svg {
  height: 20px;
  width: 82px;
}
.footer svg path {
  fill: var(--greyn50);
}

.footer span {
  font-family: var(--mainfont);
  font-weight: 400;
  font-size: 12px;
  color: var(--greyn50);
}
