.header {
  border-bottom: solid var(--greyn20) 1px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 100;
}

.headerWrapper {
  max-width: 1045px;
  margin: 0 auto;
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 40px);
}

.searchCart {
  display: flex;
  align-items: center;
  gap: 14px;
}

.header p {
  padding: 0;
  margin: 0;
}

.cartLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 4px;
  color: var(--greyn60);
  font-size: 14px;
  opacity: 1;
  transition: opacity 200ms linear;
}

.cartLink:hover {
  opacity: 0.5;
}

@media (max-width: 610px) {
  .headerWrapper > a svg {
    height: 20px;
    width: 82px;
  }
}
