.card {
  text-decoration: none;
  width: calc(100% / 3 - 15px);
  box-sizing: border-box;
  position: relative;
}

.card img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.rating {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 30;
  background-color: white;
  padding: 3px 4px;
  display: flex;
  align-items: center;
  font-size: 14px;
  gap: 2px;
  color: var(--greyn50);
}

.percentage {
  position: absolute;
  font-size: 14px;
  top: 30px;
  left: 0;
  background-color: var(--discount);
  color: white;
  padding: 4px 8px;
  z-index: 30;
}

.imgContainer {
  position: relative;
}

.imgContainer div {
  position: absolute;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.6);
  opacity: 0;
  transition: opacity 200ms linear;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
}

.imgContainer div span {
  font-size: 14px;
  font-weight: 400;
  color: var(--greyn50);
  background-color: white;
  border: 1px solid var(--greyn20);
  padding: 10px 30px;
  border-radius: 5px;
}

.card:hover .imgContainer div {
  opacity: 1;
}

.textBox {
  padding: 10px;
}

.textBox h2 {
  font-size: 14px;
  margin: 0;
  font-weight: 500;
  color: var(--greyn70);
}

.textBox p {
  font-size: 14px;
}

.description {
  display: table;
  table-layout: fixed;
  width: 100%;
  margin: 0;
}

.description span {
  font-family: var(--mainfont);
  color: var(--greyn50);
  font-weight: 400;
  display: table-cell;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.price {
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 0;
  color: var(--greyn70);
}

.discountedPrice {
  color: var(--discount);
}

.discountedPrice span {
  margin-left: 10px;
  text-decoration: line-through;
  color: var(--greyn40);
}

@media (max-width: 980px) {
  .card {
    width: calc(100% / 2 - 10px);
  }
}

@media (max-width: 530px) {
  .card {
    width: 100%;
  }
}
